$contact-wrapper: #238BC1;

.contact {
  color: white;
  background-color: $contact-wrapper;
  hr {
    background-color: white;
  }
}

.sns-logo {
  font-size: 2rem;
  color: white;
  &:hover {
    color: white;
  }
}

.map {
  background-color: $contact-wrapper;
  @media (max-width: 767px) {
    height: 300px;
  }
}