$smart-dose-color: #3399CC;
$stripe-color: #d6e9ff;

.smart-dose-logo {
  height: 8rem;
}

.button-text {
  font-family: "Calibri", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#top-stripe {
  position: absolute;
  top: 20.5rem;
  width: 100%;
  height: 16rem;
  background-color: $stripe-color;
  z-index: -1;
  @media (max-width: 1366px) {
    top: 18.5rem;
    height: 12rem;
  }
  @media (max-width: 1024px) {
    top: 17rem;
  }
  @media (max-width: 992px) {
    top: 17.3rem;
    height: 15rem;
  }
  @media (max-width: 576px) {
    top: 14.3rem;
    height: 12rem;
  }
}

#bottom-stripe {
  position: absolute;
  top: 87rem;
  width: 100%;
  height: 4rem;
  background-color: $stripe-color;
  z-index: -1;
  @media (max-width: 1366px) {
    top: 79rem;
  }
  @media (max-width: 1024px) {
    top: 76rem;
  }
  @media (max-width: 992px) {
    top: 83rem;
  }
  @media (max-width: 576px) {
    top: 68rem;
  }
}

#bottom-stripe-2 {
  @media (max-width: 576px) {
    position: absolute;
    top: 82rem;
    width: 100%;
    height: 4rem;
    background-color: $stripe-color;
    z-index: -2;
  }
}

#bottom-stripe-3 {
  @media (max-width: 399px) {
    position: absolute;
    top: 96rem;
    width: 100%;
    height: 4rem;
    background-color: $stripe-color;
    z-index: -3;
  }
}

.smart-dose-text {
  color: $smart-dose-color;
  font-size: 3rem;
  @media (max-width: 992px) {
    font-size: 2rem;
  }
}

.promo-illustration {
  height:32rem;
  @media (max-width: 1366px) {
    height: 24rem;
  }
  @media (max-width: 1024px) {
    height: 18rem;
  }
  @media (max-width: 576px) {
    height: 12rem;
  }
}

.jumbotron-wrapper {
  display: inline-flex;
  width: 100%;
  @media (max-width: 992px) {
    display: inline-block;
  }
}

.left-side {
  float: left;
  width: 45%;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.right-side {
  float: right;
  width: 55%;
  @media (max-width: 992px) {
    width: 100%;
  }
}

