$linkedin: #0e76a8;
$facebook: #3b5998;
$logo-before: #ffffff;
$logo-after: #3b5998;
$copyright-wrapper: #238BC1;

/* Footer breaks into half if screen is < 600px
and fixed at bottom of the page if the content is short
(Absolute to the relative of the page-wrapper in layout.scss)*/

.footer {
  position: absolute;
  background-color: $copyright-wrapper;
  width: 100%;
  line-height: 3rem;
  bottom: 0;
  display: inline-block;
  box-sizing: border-box;

  .copyright {
    img {
      height: 2rem;
    }
    float: left;
    width: 80%;
    color: white;
    span {
      padding-left: 3rem;
      padding-right: 1rem;
    }
    @media (max-width: 600px) {
      width: 100%;
      text-align: center;
    }
  }

  .social {
    float: right;
    width: 20%;
    @media (max-width: 600px) {
      width: 100%;
    }
    a {
      float: right;
      text-align: center;
      &:hover {
        background-color: #ffffff;
        .logo {
          color: $logo-after
        }
      }
    }
  }
}

.logo {
  color: $logo-before;
  height: 1rem;
}

.linkedin-wrapper {
  width: 50%;
  background-color: $linkedin;
}

.facebook-wrapper {
  width: 50%;
  background-color: $facebook;
}
